@charset "UTF-8";
#content #join_content{
	width: 460px;
	margin:30px auto;
}

#content #join_content #join_caption{
	height:100px;
	text-align:center;
	line-height:100px;
	font-size:2em;
	margin-top: 40px;
}

#content #join_content #join_caption{
	color:#222222;
	text-decoration:none;
}

#content #join_content #join_caption span{
	color:gray;
	font-weight:bold;
}

#content #join_content .row_group .join_row h3{
	height:40px;
}

#content #join_content .row_group .join_row h3 label{
	font-size:0.8em;
	line-height:40px;
}

#content #join_content .row_group .join_row .input{
	width:450px;
	height:37px;
	border: 1px solid lightgray;
	padding:5px;
	font-size:1.2em;
	font-weight:bold;
	color:#222222;
}

#content #join_content .row_group .join_row #mBirth{
	font-size:1.4em;
	font-weight:bold;
	color:#222222;
}

#content #join_content .row_group .join_row .error_next_box{
	height:30px;
}

#content #join_content .row_group .join_row .error_next_box b{
	line-height:30px;
	font-weight:normal;
	color:red;
}

#content #join_content .row_group .join_row .error_next_box span{
	line-height:30px;
	font-weight:normal;
	color:black;
}

#content #join_content .btn_area input{
	margin:30px 0;
	width:462px;
	height:52px;
	color:white;
	background-color:#3f4046;
	border:1px solid #3f4046;
	font-size:1.2em;
}