@charset "UTF-8";
#content #reviewList_content{
	margin:30px auto;
}

#content #reviewList_content .row_group{
	margin:20px auto;
}

#content #reviewList_content #reviewList_caption{
	height:50px;
	text-align:center;
	line-height:50px;
	
}

#content #reviewList_content #reviewList_caption a{
	color:#222222;
	text-decoration:none;
}

#content #reviewList_content #reviewList_caption a span{
	color:gray;
	font-weight:bold;
}

#content #reviewList_content #reviewList_search{
	height:50px;
	margin:0 auto;
}

#content #reviewList_content #reviewList_search input{
	vertical-align: middle;
}

#content #reviewList_content #reviewList_search input[type="text"]{
	height:27px;
	width:150px;
	padding:4px 7px;
	font-size:1em;
	border:1px solid #dddddd;
	margin:0 0 0 950px;
}

#content #reviewList_content #reviewList_search input[type="submit"]{
	height:37px;
	width:50px;
	margin:-6px;
	line-height:37px;
	background-color:#3f4046;
	border:none;
	color:white;
	font-weight:bold;
	cursor:pointer
}

#content #reviewList_content .reviewInfo_table{
	border-top : 1px solid #dddddd;
	font-size:0.8em;
	margin:0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

#content #reviewList_content #reviewList_table tr td{
	border-bottom:1px solid #dddddd;
	width:100px;
}

#content #reviewList_content #reviewList_table tr .subject{
	height:35px;
	text-align: center;
}

#content #reviewList_content #reviewList_table tr #no{
	width:100px;
}

#content #reviewList_content #reviewList_table tr #title{
	width:500px;
}

#content #reviewList_content #reviewList_table tr #name{
	width:100px;
}

#content #reviewList_content #reviewList_table tr #date{
	width:200px;
}

#content #reviewList_content #reviewList_table tr #hits{
	width:150px;
}

#content #reviewList_content #reviewList_table tr #like{
	width:100px;
}

#content #reviewList_content #reviewList_table tr .review_info{
	height:45px;
	text-align:center;
}

#content #reviewList_content #reviewList_table tr #info_title{
	text-align:left;
}

#content #reviewList_content #reviewList_table tr #info_title a{
	text-decoration:none;
	color:black;
}

#content #reviewList_content #reviewList_table tr #info_title a:hover{
	text-decoration:underline;
}

#content #reviewList_content #reviewList_table tr #info_title img{
	vertical-align: middle;
}

#content #reviewList_content #write_review_btn input[type="button"]{
	height:37px;
	width:100px;
	margin:0 0 0 1066px;
	line-height:37px;
	background-color:#3f4046;
	border:1px solid #3f4046;
	color:white;
	font-weight:bold;
	cursor:pointer
}

#content #reviewList_content .paging{
	margin:50px auto;
	text-align:center;
	font-size:0.8em;
}

#content #reviewList_content .paging a{
	color:black;
	text-decoration:none;
}