@charset "UTF-8";
#content #modifyReview_content{
	width: 1200px;
	margin:0 auto;
}

#content #modifyReview_content #modifyReview_caption{
	height:100px;
	width:1200px;
	text-align:center;
	line-height:100px;
	margin: 0 auto;
	color:#222222;
	text-decoration:none;
	line-height:90px;
	border-bottom: 1px solid #dddddd;
}

#content #modifyReview_content #modifyReview_caption a{
	text-decoration: none;
	color:#222222;
}

#content #modifyReview_content #modifyReview_caption span{
	color:gray;
	font-weight:bold;
}

#content #modifyReview_content .row_group table{
	margin:20px auto;
	height:420px;
}

#content #modifyReview_content .row_group table tr .modifyReview_title{
	width:80px;
	text-align:center;
	font-size: 0.8em;	
}

#content #modifyReview_content .row_group table tr td span{
}

#content #modifyReview_content .row_group table tr td input{
	width:196px;
	height:20px;
	border:1px solid #dddddd;
	margin:8px 0;
	padding:0 4px;
}

#content #modifyReview_content .row_group table tr td #review_email{
	width:487px;
}

#content #modifyReview_content .row_group table tr td #review_title{
	width:487px;
}

#content #modifyReview_content .row_group table tr td #review_content{
	width:487px;
	height:204px;
	border:1px solid #dddddd;
	margin:8px 0;
	padding:4px;
	font-size: 0.85em;
	font-family: 고딕;
}

#content #modifyReview_content .row_group table tr td .file_name{
	background-color: white;
	width:430px;
}

#content #modifyReview_content .row_group table tr td label{
	display:inline-block;
	vertical-align: middle;
	width:44px;
	height:18px;
	border:1px solid #dddddd;
	line-height: 18px;
	font-size:0.6em;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
}

#content #modifyReview_content .row_group table tr td .review_file{
	display:none;
}

#content #modifyReview_content .row_group table tr #btn_area input{
	width:60px;
	height:30px;
	float: right;
	margin-left:5px;
	background-color:#3f4046;
	border:#3f4046;
	color:white;
	cursor: pointer;
}